%h1.special
	Welcome to MockStocks,
	%br
	the web's best online trading simulator.
%a{href: '/registration'}
	%button{type: 'button', value: 'Register Now'} Register Now
%p
	Already a member?
	%a{href: '/login'} Log in here.