%h1.special
	Welcome to MockStocks,
	%br
	the web's best online trading simulator.
%button{href: '/registration', value: 'Register'} Register Now
%p
	Already a member?
	%a{href: '/login'} Log in here.