!!!

%html
	%head
		%title MockStocks | Play. Trade. Win
		%link{rel: "stylesheet", href: "/stylesheet.css", type: "text/css"}
		%link{href: '/images/favicon.ico', rel: 'shortcut icon', type: 'image/ico' }/
	%body
		-if flash[:notice]
			=flash[:notice]
		-if flash[:alert]
			=flash[:alert]
		%ul
			-if current_user
				%li
					%a{href: "/dashboard/#{current_user.id}"} Dashboard
				%li
					%a{href: '/transactions'} Buy or Sell
				%li
					%a{href: '/logout'} Logout
			-else
				%li
					%a{href: '/'} Home
				%li
					%a{href: '/login'} Login
				%li
					%a{href: '/registration'} Register
		%h1 MockStocks
		%h2 Play.  Trade.  Win.
		=yield