!!!

%html
	%head
		%title MockStocks | Play. Trade. Win.
		%link{rel: 'stylesheet', href: '/stylesheet.css', type: 'text/css'}
		%link{href: '/images/favicon.ico', rel: 'shortcut icon', type: 'image/ico'}
		%link{href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic', rel: 'stylesheet', type: 'text/css'}
	%body
		#flash_message
			-if flash[:notice]
				=flash[:notice]
			-if flash[:alert]
				=flash[:alert]
		#nav_wrapper
			#logo
				%ul
					%li
						%a{href:'/'}
							%img{src:'/images/logo.png'}
			#nav
				%ul
					-if current_user
						%li
							%a{href: "/dashboard/#{current_user.id}"} Dashboard
						%li
							%a{href: '/transactions'} Buy or Sell
						%li
							%a{href: '/logout'} Logout
					-else
						%li
							%a{href: '/'} Home
						%li
							%a{href: '/login'} Login
						%li
							%a{href: '/registration'} Register
		.clearfix
		#wrapper
			=yield
