%h1 Register
%form{action: '/registration', method: 'POST'}
	%ul.pretty_form
		%li
			%label{for: 'fname'} First Name
			%input{type: 'text', name: '[user]fname'}
		%li
			%label{for: 'lname'} Last Name
			%input{type: 'text', name: '[user]lname'}
		%li
			%label{for: 'email'} Email
			%input{type: 'text', name: '[user]email'}
		%li
			%label{for: 'username'} Username
			%input{type: 'text', name: '[user]username'}
		%li
			%label{for: 'password'} Password
			%input{type: 'password', name: '[user]password'}
	%button{type: 'submit', value: 'Register'} Register