%h1
	-if @user
		=@user.username + "'s"
		Transactions

%h3 Type a stock symbol below to see it's current price:
%form{action: '/transactions', method: 'POST'}
	%ul.pretty_form
		%li
			%label{for: 'symbol'} Stock Symbol
			%input{type: 'text', name: '[transaction]symbol'}
		%li
			%label{for: 'shares'} Number of Shares
			%input{type: 'text', name: '[transaction]shares'}
	%button{type: 'submit', value: 'Get Price'} Get Price
%br
%h3 Enter stock info below to buy or sell:
%form{action: '/transactions', method: 'POST'}
	%ul.pretty_form
		%li
			%label{for: 'symbol'} Stock Symbol
			%input{type: 'text', name: '[transaction]symbol'}
		%li
			%label{for: 'shares'} Number of Shares
			%input{type: 'text', name: '[transaction]shares'}
		%li
			%input{type: 'radio', name: '[transaction]transaction_type', value: '1'} Buy
			%br
			%input{type: 'radio', name: '[transaction]transaction_type', value: '2'} Sell
		%br
		%button{type: 'submit', value: 'Complete Transaction'} Complete Transaction
